<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords"
            content="Componente PC online, Placi video, gaming, Procesoare, Intel, AMD, Memorii RAM, ram, SSD, NVMe, HDD, Placa de baza, Surse alimentare PC, Carcase gaming, Coolere procesoare, Pret componente PC, Configurator PC custom, Placa video nvidia, Placa video amd, Accesorii gaming, Garantie componente PC, Oferta componente PC, Comparatie componente hardware, Kit upgrade PC
        ">
        <meta name="description"
            content="Componente PC la preturi accesibile!">
        <title>Cyberware - eroare</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/general.css">
        <link rel=" stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <link rel="stylesheet" type="text/css" href="/resurse/css/nav.css">
        <link rel="stylesheet" type="text/css" href="/resurse/css/nav700.css">
        <link rel="stylesheet" type="text/css" href="/resurse/css/nav1000.css">
        <%- include("../fragmente/head.ejs");  %> 
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>